<DOCTYPE html>
<html lang="ja">
	<head>
		<title>Editor</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
		<link rel="stylesheet" chatset="utf8" href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
		<link rel="stylesheet" chatset="utf8" href="vendors/normalize.css">
		<link rel="stylesheet" chatset="utf8" href="css/style.css">
	</head>
	<body class="bc1 fc1">
		<div id="main" class="fit" data-bind="style: size">
			<div class="bc2 left fill-h" data-bind="css: { close: tool.page() !== 'editor' }, style: editor.size">
				<div id="editor" class="fill"></div>
			</div>
			<div class="bc2 left fill-h close" data-bind="css: { close: tool.page() !== 'entry' }, style: entry.size">
				<div class="fill scroll-y hide-scroll" data-bind="foreach: entry.entries">
					<div class="bc2 fill-w h0 table bottom-line" data-bind="css: $data.display">
						<i class="wh0 cell center fa" data-bind="css: $data.icon"></i>
						<i class="fc4 wh0 cell center fa" data-bind="css: { 'fa-caret-left': $data.edit.close, 'fa-caret-right': $data.edit.close() === false }, click: $data.allow"></i>
						<i class="wh0 cell center fa fa-pencil" data-bind="css: $data.edit, click: $data.rename"></i>
						<i class="wh0 cell center fa fa-remove" data-bind="css: $data.edit, click: $data.delete"></i>
						<a class="h0 cell middle" data-bind="text: $data.name, click: $data.click"></a>
					</div>
				</div>
			</div>
			<div class="bc2 left fill-h close" data-bind="css: { close: tool.page() !== 'shell' }, style: shell.size">
				<div class="fill-w h1 table">
					<span class="fc2 wh1 cell middle" data-bind="text: '[~' + shell.dir() + ']$'"></span>
					<input class="bc2 fc2 fill-w h1 cell middle less" type="text" placeholder="input command" list="shell-history" data-bind="value: shell.query, css: shell.css, valueUpdate: 'keypress', event: { keypress: shell.click }">
					<i class="wh1 cell center fa fa-remove" data-bind="click: shell.clear.bind($data.shell)"></i>
					<datalist id="shell-history" data-bind="foreach: shell.history">
						<option data-bind="value: $data">
					</datalist>
				</div>
				<div class="fill-w h90 scroll hide-scroll" data-bind="foreach: shell.logs">
					<pre class="space-less" data-bind="text: $data.log, css: $data.css, click: $data.expand"></pre>
				</div>
			</div>
			<div class="bc2 left fill-h close" data-bind="css: { close: tool.page() !== 'weblog' }, style: weblog.size">
				<div class="fill-w h1 table">
					<span class="fill-w h1"></span>
					<i class="wh1 cell center fa fa-remove" data-bind="click: weblog.clear.bind($data.weblog)"></i>
				</div>
				<div class="fill-w h90 scroll hide-scroll" data-bind="foreach: weblog.logs">
					<pre class="space-less" data-bind="text: $data.log, css: { 'line-close': $data.closed }, click: $data.expand"></pre>
				</div>
			</div>
			<div class="bc2 left fill-h close" data-bind="css: { close: tool.page() !== 'console' }, style: console.size">
				<div class="fill-w h1 table">
					<span class="fill-w h1"></span>
					<i class="wh1 cell center fa fa-remove" id="console-clear" data-bind="click: console.clear.bind($data.console)"></i>
				</div>
				<div class="fill-w h90 scroll hide-scroll" data-bind="foreach: console.logs">
					<pre class="space-less" data-bind="text: $data.log, css: { 'line-close': $data.closed }, click: $data.expand"></pre>
				</div>
			</div>
			<div class="right w1 fill-h scroll-y hide-scroll">
				<div class="bc1 wh1 table" data-bind="css: { active: tool.page() === 'entry' }, click: tool.activate.bind($data.tool, 'entry')">
					<i class="cell center fa fa-sitemap"></i>
				</div>
				<div class="bc1 wh1 table" data-bind="css: { active: tool.page() === 'editor' }, click: tool.activate.bind($data.tool, 'editor')">
					<i class="cell center fa fa-pencil"></i>
				</div>
				<div class="bc1 wh1 table" data-bind="css: { active: tool.page() === 'shell' }, click: tool.activate.bind($data.tool, 'shell')">
					<i class="cell center fa fa-terminal"></i>
				</div>
				<div class="bc1 wh1 table" data-bind="css: { active: tool.page() === 'weblog' }, click: tool.activate.bind($data.tool, 'weblog')">
					<i class="cell center fa fa-commenting"></i>
				</div>
				<div class="bc1 wh1 table" data-bind="css: { active: tool.page() === 'console' }, click: tool.activate.bind($data.tool, 'console')">
					<i class="cell center fa fa-info"></i>
				</div>
				<div class="bc1 wh1 table" data-bind="click: test">
					<i class="cell center fa fa-info-circle"></i>
				</div>
			</div>
			<div class="bc1 trans25 flow close" data-bind="css: dialog.display, style: dialog.size">
				<div class="bc1 trans100 w8 auto" data-bind="style: dialog.pos">
					<div class="fill-w h1">
						<div class="left table">
							<i class="wh1 cell center fa fa-info-circle"></i>
							<span class="h1 cell middle" data-bind="text: dialog.title"></span>
						</div>
						<div class="right table" data-bind="click: dialog.cancel.bind($data.dialog)">
							<i class="wh1 cell center fa fa-close"></i>
						</div>
					</div>
					<div class="bc2 fill-w">
						<div class="fill-w" data-bind="text: dialog.message"></div>
						<input class="bc3 fc2 fill-w h1 less" data-bind="value: dialog.input, css: { close: dialog.prompted() === false }">
					</div>
					<div class="fill-w h1 table" data-bind="css: { close: dialog.confirmed() === false }">
						<div class="bc2 fc1-e w50 h1 cell center right-line" data-bind="click: dialog.cancel.bind($data.dialog)"><i class="fa fa-close"></i>Cancel</div>
						<div class="bc2 fc1-p w50 h1 cell center" data-bind="click: dialog.ok.bind($data.dialog)"><i class="fa fa-check"></i>OK</div>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" chatset="utf8" src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js"></script>
		<script type="text/javascript" chatset="utf8" src="vendors/jquery-2.2.1.min.js"></script>
		<script type="text/javascript" chatset="utf8" src="http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/lib/ws.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/page.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/log.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/editor.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/entry.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/weblog.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/shell.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/console.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/tool.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/models/dialog.js"></script>
		<script type="text/javascript" chatset="utf8" src="js/client.js"></script>
	</body>
</html>
